/* Main Page Styles */
body
{
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
}

.relative {
    position: relative;
}

.off-canvas-content
{
    min-height: 100vh;
    overflow: hidden;
}

.off-canvas-content .outer-row
{
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto;
}

.main-section > .outer-row
{
    padding-top: 1em;
}

img
{
	vertical-align: baseline;
}

.navigation-wrapper
{
    float: left;
}

.title-bar-section.middle > div
{
}

/* Topbar (Navigation) Dropdown Styles*/
ul.navigation
{
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 20px;
    padding-left: 20px;
    white-space: nowrap;
    z-index: 2;
    position: relative;
    font-size: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 0;
    margin-bottom: 0;
}

    ul.navigation, ul.navigation ul
    {
        list-style: none;
    }

    ul.navigation ul
    {
	    z-index: 1000;
	    width: auto;
	    margin: 0;
	    background-color: #686868;
	    padding: 10px 0 10px 0;
	    position: absolute;
    }

    ul.navigation > li > ul
    {
        left: 0;
    }

    ul.navigation > li.has-children:after 
    {
        content: ' ';
        display: block;
        position: absolute;
        height: 0;
        width: 0;
        border: 8px solid transparent;
        border-bottom-color: #686868;
        bottom: 0;
        left: 50%;
        margin-left: -8px;        
    }

    ul.navigation ul,
    ul.navigation > li.has-children:after 
    {
        -webkit-transition: all 100ms ease-in;
        -moz-transition: all 100ms ease-in;
        -ms-transition: all 100ms ease-in;
        -o-transition: all 100ms ease-in;
        transition: all 100ms ease-in;

        visibility: hidden;
        opacity: 0;
    }

        ul.navigation ul ul
        {
            top: 0;
            left: 100%;
            background-color: #393939;
        }

        ul.navigation ul ul.openLeft
        {
            left: auto;
            right: 100%;
        }

        ul.navigation ul ul.openRight
        {
            right: auto;
            left: 100%;
        }

    ul.navigation a
    {
        text-decoration: none;
        color: #fff;
        height: 100%;
        outline: none;
    }

    ul.navigation li
    {
        position: relative;
        list-style: none;
        margin: 0;
        height: 100%;
    }
    
    ul.navigation li > a
    {
        display: block;
    }

    ul.navigation li li
    {
        padding: 0 10px;
    }

    ul.navigation > li
    {
        position: relative;
        float: left;
        display: block;
    }

    ul.navigation li:hover > ul,
    ul.navigation > li.has-children:hover:after
    {
        visibility: visible;
        opacity: 1;
    }

    ul.navigation li:hover
    {
        background-color: transparent;
    }
    
    ul.navigation ul > li
    {
        line-height: 15px;
    }

    ul.navigation ul > li > a
    {
        padding: 0 15px;
        text-align: left;
    }

        ul.navigation ul > li:hover
        {
        }

        ul.navigation ul > li.has-children > a:after
        {
            position: absolute;
            border: none;
            content: "\00bb";
            right: 5px;
            top: 9px;
        }

nav.title-bar
{
    height: auto;
    background-color: #292928;
    line-height: inherit;
    padding: 10px 0;
    background-repeat: no-repeat;
    background-position: center center;
}

nav.title-bar .menu-icon
{
    display: none;
}

.title-bar-section
{
    position: relative;
}

.title-bar-section.middle
{
    width: 100%;
    left: 0;
    right: 0;
    height: auto;
    min-height: 2.5em;
}

.title-bar-section a.logo
{
    width: 182px;
    height: 42px;
    border: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background: url("Images/GeneralGreenLogo.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.title-bar-container
{
    z-index: 2;
}

/* Topbar Menu Functionality Styles */
#navigation.topbar > .row
{
	height: 100%;
}

#navigation.topbar 
{
    background-color: #292928;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Search */

.nav-search
{
    margin-top: 10px;
}

.search-bar .search-field
{
    padding: 0 0 0 10px;
    background: #FFFFFF;
    height: 100%;
    line-height: 1em;
    top: 0;
    left: 0;
    position: relative;
}

    .search-bar .search-field::-webkit-search-cancel-button
    {
        display: none;
    }

.search-bar .search-filter
{
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #5F5F5F;
	line-height: 2em;
	padding-right: 5px;
	cursor: pointer;
	height: 2em;
	width: 45px;
    background: #ffffff url('Images/FilterOutline.png') no-repeat center center;
}
    .search-bar .search-filter.selected
    {
        background-image: url('Images/Filter.png');
        background-repeat: no-repeat;
        background-position: center center;
    }

.search-bar .search-filter.open
{
    background-repeat: no-repeat;
    background-position: center center;
}

.search-bar .search-filter-wrapper
{
    display: none;
    position: absolute;
    top: 0;
    right: 56px;
}

.search-filter-content
{
	display: none;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	position: absolute;
	right: 0;
    top: 2em;
	line-height: normal;
	text-align: left;
	overflow: auto;
	z-index: 1;
    color: #888888;
	background-color: #ffffff;
    white-space: nowrap;
}

.search-filter-content ul li
{
	padding: 5px;
	margin: 0;
}

.search-filter-content ul li:hover
{
	color: #000000;
	background-color: #ffffff;
}

.search-bar .search-submit-wrapper
{
    position: absolute;
    top: 0;
    right: 0;
}

/* OffCanvas */

ul.off-canvas-list li
{
    margin: 0;
}

.off-canvas
{
    display: none;
    z-index: 1001;
}

/* Pulse.htm */

html.pulseTopic .main-section .row.outer-row 
{
    padding: 0;
    max-width: 1050px;
}

/* Google Custom Search Styles */

.gsc-results
{
	line-height: normal;
}